.wrapper{
    display: flex;
    gap: 12px;

    color: #ffffff;
    
    margin-bottom: 12px;
}

.name{
    font-size: 48px;

    margin-bottom: 24px;
}

.score{
    font-size: 24px;
    margin-bottom: 32px;
}

.overview-text{
width: 600px;

margin-bottom: 16px;
}

