.nav {
  padding: 24px;
  width: 100%;

  border-bottom: 1px solid #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

 
}

.list {
  display: flex;
  gap: 24px;
}

.link {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  transition: color 200ms ease-in-out;
}

.link:hover {
    color: #dc143c;
  }


.active {
    color: #dc143c;
  }
  



