.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.item {
  display: flex;
  justify-content: center;
  width: 200px;

  border-radius: 8px;

  transition: transform 200ms ease-in-out;
}

.item:hover {
  transform: scale(1.1);
}
